[package]
name = "crypto-demo"
version = "0.1.0"
edition = "2021"

[workspace]

[[bin]]
name = "crypto_demo"
path = "crypto_demo.rs"

[dependencies]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[profile.dev]
panic = "abort"
